.pet_datails_container {
  text-align: center;
}

.pet_datails_container p {
  margin-bottom: 1em;
}

.pet_datails_header { 
  margin-bottom: 2em;
}

.pet_images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  max-width: 1000px;
  margin: 0 auto;
}

.pet_images img {
  max-height: 200px;
 margin: .5em;
}

.pet_datails_container button {
  text-decoration: none;
  background-color: #25b456;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  margin-left: 1em;
  max-width: 200px;
  min-height: 2.5em;
}

.pet_datails_container button:hover {
  background-color: #1c8a42;
}